In [1]:
#!pip install twint
import twint
import nest_asyncio

nest_asyncio.apply()

In [6]:
import pandas as pd

c = twint.Config()

c.Username =  '@pinot'
c.Until = '2014-12-6 23:59:59'
#c.Lang ='id'
c.Hide_output = True

c.Store_csv = True
c.Output = 'naynadine.csv'

In [7]:
twint.run.Search(c)

CRITICAL:root:twint.get:User:'NoneType' object is not subscriptable
CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'
CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'

[Errno 13] Permission denied: 'naynadine.csv' [x] output._output
[Errno 13] Permission denied: 'naynadine.csv' [x] output._output

CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'

[Errno 13] Permission denied: 'naynadine.csv' [x] output._output

CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'

[Errno 13] Permission denied: 'naynadine.csv' [x] output._output

CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'

[Errno 13] Permission denied: 'naynadine.csv' [x] output._output

CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'
CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'

[Errno 13] Permission denied: 'naynadine.csv' [x] output._output

CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'

[Errno 13] Permission denied: 'naynadine.csv' [x] output._output
[Errno 13] Permission denied: 'naynadine.csv' [x] output._output

CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'
CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'

[Errno 13] Permission denied: 'naynadine.csv' [x] output._output
[Errno 13] Permission denied: 'naynadine.csv' [x] output._output

CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'
CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'

[Errno 13] Permission denied: 'naynadine.csv' [x] output._output
[Errno 13] Permission denied: 'naynadine.csv' [x] output._output

CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'
CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'

[Errno 13] Permission denied: 'naynadine.csv' [x] output._output
[Errno 13] Permission denied: 'naynadine.csv' [x] output._output

CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'
CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'

[Errno 13] Permission denied: 'naynadine.csv' [x] output._output
[Errno 13] Permission denied: 'naynadine.csv' [x] output._output

CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'
CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'

[Errno 13] Permission denied: 'naynadine.csv' [x] output._output
[Errno 13] Permission denied: 'naynadine.csv' [x] output._output

CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'
CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'

[Errno 13] Permission denied: 'naynadine.csv' [x] output._output
[Errno 13] Permission denied: 'naynadine.csv' [x] output._output

CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'
CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'

[Errno 13] Permission denied: 'naynadine.csv' [x] output._output
[Errno 13] Permission denied: 'naynadine.csv' [x] output._output

CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'
CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'
CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'

[Errno 13] Permission denied: 'naynadine.csv' [x] output._output
[Errno 13] Permission denied: 'naynadine.csv' [x] output._output
[Errno 13] Permission denied: 'naynadine.csv' [x] output._output

CRITICAL:root:twint.output:_output:CSV:Error:[Errno 13] Permission denied: 'naynadine.csv'

[Errno 13] Permission denied: 'naynadine.csv' [x] output._output

In [154]:
df = pd.read_csv('TEDxJakarta2009-2013.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24440 entries, 0 to 24439
Data columns (total 34 columns):
id                 24440 non-null int64
conversation_id    24440 non-null int64
created_at         24440 non-null int64
date               24440 non-null object
time               24440 non-null object
timezone           24440 non-null object
user_id            24440 non-null int64
username           24440 non-null object
name               24439 non-null object
place              0 non-null float64
tweet              24440 non-null object
mentions           24440 non-null object
urls               24440 non-null object
photos             24440 non-null object
replies_count      24440 non-null int64
retweets_count     24440 non-null int64
likes_count        24440 non-null int64
hashtags           24440 non-null object
cashtags           24440 non-null object
link               24440 non-null object
retweet            24440 non-null bool
quote_url          1 non-null object
video              24440 non-null int64
near               0 non-null float64
geo                0 non-null float64
source             0 non-null float64
user_rt_id         0 non-null float64
user_rt            0 non-null float64
retweet_id         0 non-null float64
reply_to           24440 non-null object
retweet_date       0 non-null float64
translate          0 non-null float64
trans_src          0 non-null float64
trans_dest         0 non-null float64
dtypes: bool(1), float64(11), int64(8), object(14)
memory usage: 6.2+ MB

C:\Users\irfanfadhullah\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [155]:
df.tail(5)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
24435,1809463618,1809463618,1242416612000,2009-05-16,02:43:32,SE Asia Standard Time,30616129,adihrespati,Adi Respati,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '30616129', 'username': 'adihresp...",NaN,NaN,NaN,NaN
24436,1805375977,1805375977,1242390073000,2009-05-15,19:21:13,SE Asia Standard Time,36541823,alexabimanyu,Alexander Abimanyu,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '36541823', 'username': 'alexabim...",NaN,NaN,NaN,NaN
24437,1794236946,1794236946,1242303567000,2009-05-14,19:19:27,SE Asia Standard Time,15450371,_larapotter,Lara Potter,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '15450371', 'username': '_larapot...",NaN,NaN,NaN,NaN
24438,1794113916,1794113916,1242302392000,2009-05-14,18:59:52,SE Asia Standard Time,36541823,alexabimanyu,Alexander Abimanyu,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '36541823', 'username': 'alexabim...",NaN,NaN,NaN,NaN
24439,1635637250,1635637250,1240888312000,2009-04-28,10:11:52,SE Asia Standard Time,20906178,drpdg,Dr. Paul D.Giammalvo,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '20906178', 'username': 'DrPDG'}]",NaN,NaN,NaN,NaN

In [33]:
import pandas as pd

c = twint.Config()

c.Search = '#TEDxJakarta OR TEDxJakarta OR tedxjakarta'

c.Since = '2013-06-02'
c.Until = '2017-05-31'

c.Hide_output = True

c.Store_csv = True
c.Output = 'TEDxJakarta2013-2017.csv'

In [34]:
twint.run.Search(c)

In [48]:
df2 = pd.read_csv('TEDxJakarta2013-2017.csv')

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5278 entries, 0 to 5277
Data columns (total 34 columns):
id                 5278 non-null int64
conversation_id    5278 non-null int64
created_at         5278 non-null int64
date               5278 non-null object
time               5278 non-null object
timezone           5278 non-null object
user_id            5278 non-null int64
username           5278 non-null object
name               5278 non-null object
place              0 non-null float64
tweet              5278 non-null object
mentions           5278 non-null object
urls               5278 non-null object
photos             5278 non-null object
replies_count      5278 non-null int64
retweets_count     5278 non-null int64
likes_count        5278 non-null int64
hashtags           5278 non-null object
cashtags           5278 non-null object
link               5278 non-null object
retweet            5278 non-null bool
quote_url          73 non-null object
video              5278 non-null int64
near               0 non-null float64
geo                0 non-null float64
source             0 non-null float64
user_rt_id         0 non-null float64
user_rt            0 non-null float64
retweet_id         0 non-null float64
reply_to           5278 non-null object
retweet_date       0 non-null float64
translate          0 non-null float64
trans_src          0 non-null float64
trans_dest         0 non-null float64
dtypes: bool(1), float64(11), int64(8), object(14)
memory usage: 1.3+ MB

In [49]:
df2.tail(5)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
5273,341535528342151168,341535528342151168,1370263390000,2013-06-03,19:43:10,SE Asia Standard Time,46087436,tedxjakarta,TEDxJakarta,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '46087436', 'username': 'TEDxJaka...",NaN,NaN,NaN,NaN
5274,341407806118834176,341407806118834176,1370232938000,2013-06-03,11:15:38,SE Asia Standard Time,60981696,grahazhuri,"Nurhady G.A.,S.H.",NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '60981696', 'username': 'grahazhu...",NaN,NaN,NaN,NaN
5275,341184832799404033,341184832799404033,1370179777000,2013-06-02,20:29:37,SE Asia Standard Time,94255932,ndanwachyudi,Ndan,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '94255932', 'username': 'NdanWach...",NaN,NaN,NaN,NaN
5276,341184215976669184,341184215976669184,1370179630000,2013-06-02,20:27:10,SE Asia Standard Time,94255932,ndanwachyudi,Ndan,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '94255932', 'username': 'NdanWach...",NaN,NaN,NaN,NaN
5277,341183401035956224,341183401035956224,1370179436000,2013-06-02,20:23:56,SE Asia Standard Time,94255932,ndanwachyudi,Ndan,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '94255932', 'username': 'NdanWach...",NaN,NaN,NaN,NaN

In [38]:
import pandas as pd

c = twint.Config()

c.Search = '#TEDxJakarta OR TEDxJakarta OR tedxjakarta'

c.Since = '2017-05-31'
c.Until = '2020-05-31'

c.Hide_output = True

c.Store_csv = True
c.Output = 'TEDxJakarta2017-2020.csv'

In [39]:
twint.run.Search(c)

In [50]:
df3 = pd.read_csv('TEDxJakarta2017-2020.csv')

df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1731 entries, 0 to 1730
Data columns (total 34 columns):
id                 1731 non-null int64
conversation_id    1731 non-null int64
created_at         1731 non-null int64
date               1731 non-null object
time               1731 non-null object
timezone           1731 non-null object
user_id            1731 non-null int64
username           1731 non-null object
name               1731 non-null object
place              3 non-null object
tweet              1731 non-null object
mentions           1731 non-null object
urls               1731 non-null object
photos             1731 non-null object
replies_count      1731 non-null int64
retweets_count     1731 non-null int64
likes_count        1731 non-null int64
hashtags           1731 non-null object
cashtags           1731 non-null object
link               1731 non-null object
retweet            1731 non-null bool
quote_url          98 non-null object
video              1731 non-null int64
near               0 non-null float64
geo                0 non-null float64
source             0 non-null float64
user_rt_id         0 non-null float64
user_rt            0 non-null float64
retweet_id         0 non-null float64
reply_to           1731 non-null object
retweet_date       0 non-null float64
translate          0 non-null float64
trans_src          0 non-null float64
trans_dest         0 non-null float64
dtypes: bool(1), float64(10), int64(8), object(15)
memory usage: 448.1+ KB

In [51]:
df3.tail(5)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
1726,869783946346741760,869407066020073472,1496207627000,2017-05-31,12:13:47,SE Asia Standard Time,46087436,tedxjakarta,TEDxJakarta,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '46087436', 'username': 'TEDxJaka...",NaN,NaN,NaN,NaN
1727,869783645183070208,869407066020073472,1496207555000,2017-05-31,12:12:35,SE Asia Standard Time,46087436,tedxjakarta,TEDxJakarta,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '46087436', 'username': 'TEDxJaka...",NaN,NaN,NaN,NaN
1728,869783407345098752,869753370944327680,1496207498000,2017-05-31,12:11:38,SE Asia Standard Time,46087436,tedxjakarta,TEDxJakarta,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '46087436', 'username': 'TEDxJaka...",NaN,NaN,NaN,NaN
1729,869783206459035648,869754916939673601,1496207450000,2017-05-31,12:10:50,SE Asia Standard Time,46087436,tedxjakarta,TEDxJakarta,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '46087436', 'username': 'TEDxJaka...",NaN,NaN,NaN,NaN
1730,869733998938832896,869733998938832896,1496195718000,2017-05-31,08:55:18,SE Asia Standard Time,50518123,stephdevita,Vita,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '50518123', 'username': 'stephdev...",NaN,NaN,NaN,NaN

# Refferences
## https://nealcaren.org/lessons/twint/
## https://github.com/twintproject/twint

In [1]:


c = twint.Config()
c.Username = "mailbykite"
c.Store_csv = True
c.Output = "mailbykite.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

CRITICAL:root:twint.get:User:'NoneType' object is not subscriptable

In [2]:
c = twint.Config()
c.Username = "pramaditia"
c.Store_csv = True
c.Output = "pramaditia.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

CRITICAL:root:twint.get:User:'NoneType' object is not subscriptable

In [3]:
c = twint.Config()
c.Username = "yohanessurya1"
c.Store_csv = True
c.Output = "yohanessurya1.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

CRITICAL:root:twint.get:User:'NoneType' object is not subscriptable

In [4]:
c = twint.Config()
c.Username = "andrianishak"
c.Store_csv = True
c.Output = "andrianishak.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

CRITICAL:root:twint.get:User:'NoneType' object is not subscriptable

In [5]:
c = twint.Config()
c.Username = "naynadine"
c.Store_csv = True
c.Output = "naynadine.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

CRITICAL:root:twint.get:User:'NoneType' object is not subscriptable

In [ ]:
c = twint.Config()
c.Username = "pinot"
c.Store_csv = True
c.Output = "pinot.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

CRITICAL:root:twint.get:User:'NoneType' object is not subscriptable
CRITICAL:root:twint.output:checkData:copyrightedTweet
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 8.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 27.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 64.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 8.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 8.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 27.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 8.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 27.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 64.0 secs

In [1]:
import twint
import nest_asyncio

nest_asyncio.apply()
c = twint.Config()
c.Username = "rahung"
c.Store_csv = True
c.Output = "rahung.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

CRITICAL:root:twint.get:User:'NoneType' object is not subscriptable
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 8.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 27.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 64.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 125.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 8.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 27.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 64.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 8.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 27.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 64.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 8.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 27.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 64.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 8.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 27.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 64.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 8.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 27.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 8.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 27.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 64.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 125.0 secs

In [2]:
c = twint.Config()
c.Username = "ronngan"
c.Store_csv = True
c.Output = "ronngan.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

CRITICAL:root:twint.get:User:'NoneType' object is not subscriptable

In [3]:
c = twint.Config()
c.Username = "sidrotun_naim"
c.Store_csv = True
c.Output = "sidrotun_naim.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

CRITICAL:root:twint.get:User:'NoneType' object is not subscriptable

## Event 10

In [4]:
c = twint.Config()
c.Username = "alexsihar"
c.Store_csv = True
c.Output = "alexsihar.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

CRITICAL:root:twint.get:User:'NoneType' object is not subscriptable

In [5]:
c = twint.Config()
c.Username = "lianggono"
c.Store_csv = True
c.Output = "lianggono.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

CRITICAL:root:twint.get:User:'NoneType' object is not subscriptable

KeyboardInterrupt:

In [ ]:
c = twint.Config()
c.Username = "RaziThalib"
c.Store_csv = True
c.Output = "RaziThalib.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

In [ ]:
c = twint.Config()
c.Username = "stanleywidianto"
c.Store_csv = True
c.Output = "stanleywidianto.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

In [ ]:
c = twint.Config()
c.Username = "wahyudhyatmika"
c.Store_csv = True
c.Output = "wahyudhyatmika.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

## Event 11

In [ ]:
c = twint.Config()
c.Username = "anindochka"
c.Store_csv = True
c.Output = "wahyudhyatmika.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

In [ ]:
c = twint.Config()
c.Username = "heydian"
c.Store_csv = True
c.Output = "heydian.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

In [ ]:
c = twint.Config()
c.Username = "fayesimanjuntak"
c.Store_csv = True
c.Output = "fayesimanjuntak.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

In [ ]:
c = twint.Config()
c.Username = "firlysavitri"
c.Store_csv = True
c.Output = "firlysavitri.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)

In [ ]:
c = twint.Config()
c.Username = "veceha"
c.Store_csv = True
c.Output = "veceha.csv"
#c.Lang = "id"
c.Hide_output = True

twint.run.Search(c)